<h1>Images</h1>
<%= link_to 'Upload', new_image_path %>
<% @user.images.each do |image| %>
	<p><%= image.title %></p>
	<a href="<%= image_path(image) %>">
		<%= image_tag image.image.url(:square) %>
	</a>
<% end %>
